*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Source Sans 3", sans-serif;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(image/communion.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #0056b3;
  height: 100vh;
}
.container-image{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container-image h1{
  color: #fff;
  font-size: 45px;
}
.container-image span{
  color: #fff;
  font-size: 25px;
}
.image-file{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.file-pButton{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.file-input-container {
  display: flex;
}
.custom-file-input {
  font-size: 18px !important;
  display: inline-block;
  background: #0056b3;
  color: #fff !important;
  max-width: 160px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* Hide the default file input */
input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
}
.image-file button{
  font-size: 18px;
  width: fit-content;
  padding: 10px 20px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #007bff;
  cursor: pointer;
  transition: all 0.3s;
}
.image-file button:hover {
  background-color: #0056b3;
}
#error-image{
  color: red;
}
.container{
  width: fit-content;
}
 /* Image styles */
.preview {
  display: none;
  flex-direction: column;
  width: 300px;
  height: auto;
  margin-bottom: 20px;
  background-color: #0056b3;
  padding: 5px;
}
.preview .immg{
  width: 100px;
  height: 100px;
  border-radius: 225px;
  border: 1px solid #fff;
}
.preview .text {
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: #fff;
  margin: 10px;
}

/* Styles for the logo */
.preview .logo {
  margin-top: 2px;
  margin-right: 2px;
  width: 150px;
  height: auto;
}
/* Download button styles */
#downloadButton {
  display: none;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

#downloadButton:hover {
  background-color: #0056b3;
}

@media (max-width: 805px){
  body{
    background-size: cover;
  }
  .container-image{
    padding: 20px;
  }
  .container-image h1{
    font-size: 30px;
    text-align: center;
  }
  .container-image span{
    font-size: 20px;
  }
  .custom-file-input,
  .image-file button{
    padding: 5px 10px;
  }
  /* Image styles */
  .preview {
    width: 200px;
    height: auto;
  }
  .preview .immg{
    width: 70px;
    height: 70px;
    border-radius: 225px;
  }
  .preview .text {
    font-size: 12px;
  }
  .preview .logo {
    width: 100px;
    height: auto;
  }
  #downloadButton {
    padding: 5px 10px;
  }
}